<h1>{{title}}</h1>
<hr />
<p>Written by: {{author.name}}</p>
<p>Summary: {{description}}</p>
<p>Rating: {{rating}}</p>
<a href='/books/{{id}}/edit'></a>
<a href='/books/{{id}}/edit'>Edit the book</a>
<form action='/books/delete/{{id}}' method='POST'>
  <button>Delete</button>

</form>
{{#if imageUrl}}
<img src={{imageUrl}} />
{{/if}}
<hr />
<a href='/books'>Back</a>
<h2>Add a review</h2>

<h2>Reviews</h2>
{{#each review}}
<p>{{comment}}</p>
<span>{{user}}</span>
{{/each}}

<h2>Add a Review</h2>
<form action="/reviews/add/{{id}}" method="POST">
<label>User:</label>
<input type="text" name="user" />

<label>Comment:</label>
<textarea name:"comment" rows="4" cols="8"></textarea>
<button type="submit">Add</button>
</form>