<h1>Course Lessons</h1>
{{#if courses.lessons}}
  <ul>
    {{#each courses.lessons}}
      <li>
        <h3>{{this.lesson_number}} - {{this.lesson_title}}</h3>
        <p>{{this.lesson_body}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No lessons available for this course.</p>
{{/if}}
<h2>{{ Course.title }}'s Courses</h2>
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Lesson Number</th>
      <th>Lesson Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each Course.lessons}}
    <tr>
      <td>{{ lesson_number }}</td>
      <td>{{ lesson_title }}</td>
      <td>
        <a href="/Courses/{{../Course._id}}/lessons/{{ lesson_number }}"
          >View Lesson</a
        >
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>