<h2>Courses</h2>
<<<<<<< HEAD
<h1>hello</h1>

{{#each courses}}
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>Instructor: <strong>{{instructor}}</strong></p>
  <a href='/courses/{{_id}}'>Course Details</a>
=======

{{#each courses}}

  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>Instructor: <strong>{{instructor}}</strong></p>
  <a href='/courses/{{_id}}/details'>Course Details</a>
>>>>>>> 34106c9714490b319a0e077301c84ec551706a10

{{/each}}