<h1>Course Details</h1>
<div>
  <h2>{{title}}</h2>
  <p>Description: {{description}}</p>
  <p>Instructor: {{instructor}}</p>
  <p>Rating: {{rating}}</p>
<<<<<<< HEAD
  <p>Lessons: {{lessons}}</p>
=======
>>>>>>> 5ca14bfa3aa563bd089a6b1a887d7d6f14a39df6
</div>

{{#if currentUser.isStudent}}
  <form action='/courses/{{_id}}/enroll' method='POST'>
    <button type='submit'>Enroll in Course</button>
  </form>
{{/if}}

<a href='/courses/create'>Create courses</a>

<form action='/courses/{{_id}}/delete'>
  <button>Delete</button>
</form>

<<<<<<< HEAD
<a href='/courses/{{_id}}/edit'>Edit Course</a>

<!-- Enrollment button -->
<form action='/courses/{{_id}}/enroll' method='POST'>
  <button type='submit'>Enroll</button>
</form>
=======
<a href='/courses/{{_id}}/edit'>Edit Course</a>
>>>>>>> 5ca14bfa3aa563bd089a6b1a887d7d6f14a39df6
