<div class='container mt-4'>
  <h1 class='dashboard'>Welcome to your dashboard,
    {{currentUser.username}}!</h1>

  <h2>My Learning</h2>

  <div class='row mt-4'>
    {{#each enrolledCourses}}
      <div class='col-md-4 mb-4'>
        <div class='card'>
          <img src='{{imageUrl}}' class='card-img-top' alt='Course Image' />
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>
            <p class='card-text'>{{description}}</p>
            <p class='card-text'>Instructor: {{instructor}}</p>
            <a href='#' class='btn btn-purple'>Start Course</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>