<h1>Welcome, {{currentUser.username}}!</h1>
<h2>Student Dashboard</h2>

<h3>Enroll in Courses:</h3>
<ul>
  {{#each coursesToEnroll}}
    <li><a href='/courses/{{_id}}/enroll'>Enroll in {{title}}</a></li>
  {{/each}}
</ul>

<h3>Your Enrolled Courses:</h3>
<ul>
  {{#each enrolledCourses}}
    <li><a href='/courses/{{_id}}'>{{title}}</a></li>
  {{/each}}
</ul>

<li><a href='/logout'>Logout</a></li>

<script src='/js/script.js'></script>