<<<<<<< HEAD
<!-- instructor-dashboard -->

<h1>Welcome, {{currentUser.username}}!</h1>
<h1>Instructor Dashboard</h1>

<ul>
    {{#each courses}}
 
      <li>
        <a href="/courses/{{_id}}">
          {{title}}
        </a>
        <span>
          <a href="/courses/{{_id}}/edit">Edit</a>
          <a href="/courses/{{_id}}/delete">Delete</a>
        </span>
      </li>
    {{/each}}


<hr />



=======
<!-- instructor-dashboard.hbs -->

<h1>Welcome, {{currentUser.username}}!</h1>

<ul>
    {{#each courses}}
      <li>
        <a href="/courses/{{id}}">
          {{title}}
        </a>
        <span>
          <a href="/courses/{{id}}/edit">Edit</a>
          <a href="/courses/{{id}}/delete">Delete</a>
        </span>
      </li>
    {{/each}}
>>>>>>> 5ca14bfa3aa563bd089a6b1a887d7d6f14a39df6
    <li><a href="/courses/create">Create Course</a></li>
  </ul>
</div>

<li><a href='/logout'>Logout</a></li>