<!-- instructor-dashboard -->

<h1>Welcome, {{currentUser.username}}!</h1>
<h1>Instructor Dashboard</h1>

<ul>
    {{#each courses}}
 
      <li>
        <a href="/courses/{{_id}}">
          {{title}}
        </a>
        <span>
          <a href="/courses/{{_id}}/edit">Edit</a>
          <a href="/courses/{{_id}}/delete">Delete</a>
        </span>
      </li>
    {{/each}}


<hr />



    <li><a href="/courses/create">Create Course</a></li>
  </ul>
</div>

<li><a href='/logout'>Logout</a></li>