<div class='container mt-4'>
  <h2 class='dashboard'>Welcome to your dashboard,
    {{currentUser.username}}!</h2>

  <div class='instructor-image'>
    <img
      src='https://res.cloudinary.com/dnyobqmgl/image/upload/v1684960573/visual-arts_05_xx4u9x.png'
      class='img-fluid rounded'
      alt='...'
    />
  </div>

  <div class='row mt-4'>
    {{#each instructorCourses}}
      <div class='col-md-4 mb-4'>
        <div class='card'>
          <img
            src='{{course.imageUrl}}'
            class='card-img-top'
            alt='Course Image'
          />
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>
            <p class='card-text'>{{description}}</p>
            <p class='card-text'>{{instructor}}</p>
            <a href='/courses/{{_id}}' class='btn btn-purple'>View Course</a>
            <a href='/courses/{{_id}}/edit' class='btn btn-secondary'>Edit
              Course</a>
            <a href='/courses/{{_id}}/delete' class='btn btn-danger'>Delete
              Course</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <a href='/courses/create' class='btn btn-purple mt-4'>Create New Course</a>
</div>