<!-- instructor-dashboard.hbs -->

<h1>Welcome, {{currentUser.username}}!</h1>

<ul>
    {{#each courses}}
      <li>
        <a href="/courses/{{id}}">
          {{title}}
        </a>
        <span>
          <a href="/courses/{{id}}/edit">Edit</a>
          <a href="/courses/{{id}}/delete">Delete</a>
        </span>
      </li>
    {{/each}}
    <li><a href="/courses/create">Create Course</a></li>
  </ul>
</div>

<li><a href='/logout'>Logout</a></li>